.ms-price .ms-price-cont {
  background: #EE6C4D;
}
.feedback_widget_button {
    background-color: #EE6C4D !important;
}
#top-fixed-mobile .btn.btn-menu-mobile,
.btn-menu {
  background-color: #EE6C4D;
}

#horizontal-menu .navbar-nav > li:hover > a,
#additional-menu .nav > li:hover > a, #additional-menu .nav > li.open > a {
  color: #D55C3F;
}
.carousel-container .owl-controls .owl-page.active span {
  background: #EE6C4D;
}
#menu.open-mob .btn-menu, #menu.open .btn-menu, .btn-menu:hover, .btn-menu:focus, .btn-menu.focus, .btn-menu:active, .btn-menu.active, .btn-menu.disabled, .btn-menu[disabled] {
  background-color: #D55C3F;
}
.dop-menu-header #additional-menu .nav > li > a:hover {
  color: #D55C3F;
}
.h-type-2 .h-type-2-sb #search .input-lg::placeholder,

footer.type-footer-2 .icon-newsletter i {
  color: #ffffff;
}

.btn-search {
    background-color: #EE6C4D;
}
.btn-search:hover, .btn-search:active {
  background-color: #D55C3F;
}
.h-type-2 .r-h-box #search .input-lg:focus{background:#fff;}
.h-type-1 #wishlist-total span, .h-type-1 #compare-total span, .h-type-1 .type_cart #cart > .btn .cart-total .products b,
.h-type-2 #wishlist-total span, .h-type-2 #compare-total span, .h-type-2 .type_cart #cart > .btn .cart-total .products b {
  background: #f2a541;
  color:#000;
}

.btn-general {
  background-color: #EE6C4D;
}
.btn-general:focus,.btn-general:hover, .btn-general:active{
  background-color:#D55C3F !important;
  border-color:#D55C3F !important;
}
footer .btn-newsletter,
footer.type-footer-1 .btn-newsletter {
  background: #EE6C4D;
  border-color: #EE6C4D;
}
footer .btn-newsletter:hover, footer .btn-newsletter:active{background:#D55C3F;border-color: #D55C3F;}


.btn-primary:focus, .btn-primary:focus, .btn-primary,
#popup-found-cheaper .btn-found-cheaper:focus, #popup-found-cheaper .btn-found-cheaper,
.btn-quickorder, .btn-quickorder-one,
.btn-checkout,
#popup-callback .btn-callback:focus, #popup-callback .btn-callback,
#login-form-popup .btn-login:focus, #login-form-popup .btn-login {
  background-color: #EE6C4D !important;
}

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.active:focus, .btn-primary:active:focus, .btn-primary.disabled, .btn-primary[disabled],
#popup-found-cheaper .btn-found-cheaper:hover, #popup-found-cheaper .btn-found-cheaper:active,
.btn-quickorder:hover, .btn-quickorder:focus, .btn-quickorder-one:hover, .btn-quickorder-one:focus,
.btn-checkout:hover, .btn-checkout:active,
#popup-callback .btn-callback:hover, #popup-callback .btn-callback:active,
#login-form-popup .btn-login:hover, #login-form-popup .btn-login:active {
  background-color: #D55C3F !important;
}

.h-type-2 .dflex .box-cart::before,
footer.type-footer-1 .footer-copyright-payment .dflex-fcp::before {
  background: #223446;
}